<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/contentInsert.css" />

<%- contentFor('main') %>
<div class="content">
  <aside>
    <div class="information-header"></div>
    <div class="information-container">
      <h3>Imagem de poster</h3>
      <div class="information">
        <p>Adicione uma imagem de destaque.</p>
        <svg id="prev-icon" width="999.000000pt" height="999.000000pt" viewBox="0 0 999.000000 999.000000">
        <g transform="translate(0.000000,999.000000) scale(0.100000,-0.100000)"
        fill="#000000" stroke="none">
        <path class="load-icon-cloud" d="M5115 7805 c-220 -36 -423 -106 -604 -209 -144 -82 -246 -161 -369
        -283 l-103 -102 -77 17 c-58 13 -121 17 -257 16 -160 -1 -191 -3 -275 -26
        -247 -67 -422 -165 -594 -335 -170 -166 -278 -364 -346 -628 -8 -33 -23 -50
        -81 -95 -101 -78 -247 -233 -311 -331 -151 -229 -212 -432 -212 -709 0 -228
        39 -393 141 -592 237 -465 646 -719 1157 -718 l131 1 207 204 206 203 -346 4
        c-317 4 -354 6 -427 26 -101 27 -243 97 -317 156 -119 95 -237 270 -298 441
        -35 99 -35 101 -35 270 0 151 3 179 23 245 75 236 248 442 462 550 l78 39 7
        58 c15 137 27 197 56 278 106 291 373 504 687 546 151 20 284 -3 467 -80 l111
        -47 74 110 c246 361 603 567 1029 593 336 20 689 -122 934 -376 188 -196 298
        -406 343 -659 13 -76 19 -332 10 -522 l-1 -35 230 -6 c253 -7 295 -14 421 -74
        389 -186 568 -680 381 -1051 -148 -293 -416 -464 -728 -464 -43 0 -79 -2 -79
        -5 0 -3 9 -33 20 -66 25 -73 46 -180 55 -271 l7 -68 73 0 c190 0 425 78 605
        200 94 64 214 182 298 295 156 208 242 458 242 698 0 242 -99 534 -250 736
        -72 96 -203 222 -297 284 -143 95 -346 173 -500 193 -49 6 -53 8 -57 38 -2 17
        -11 86 -20 153 -88 665 -611 1224 -1296 1384 -115 27 -444 35 -575 14z"/>
        <path  class="load-icon-arrow" d="M4973 6338 c-35 -43 -647 -965 -651 -980 -3 -12 1 -18 11 -18 9 0 94
        27 189 60 95 33 176 60 180 60 4 0 8 -103 8 -228 0 -164 3 -231 12 -240 9 -9
        83 -12 273 -12 190 0 264 3 273 12 9 9 12 76 12 240 0 129 4 228 9 228 5 0 86
        -27 181 -60 181 -63 200 -68 200 -47 0 22 -654 992 -671 995 -9 2 -21 -3 -26
        -10z"/>
        <path class="load-icon-doc" d="M4517 4554 c-57 -18 -69 -29 -650 -598 -365 -358 -411 -407 -440
        -465 l-32 -66 -3 -632 -3 -633 126 0 125 0 0 598 c0 328 4 602 8 608 4 7 83
        13 217 18 239 8 305 20 409 73 89 47 199 155 244 239 52 99 62 163 62 395 0
        165 3 209 14 218 10 9 185 11 683 9 664 -3 668 -3 727 -26 81 -30 144 -73 203
        -135 59 -63 86 -106 116 -183 l22 -59 3 -877 3 -878 124 0 125 0 0 865 c0 753
        -2 876 -16 943 -60 293 -293 525 -589 587 -104 22 -1407 21 -1478 -1z"/>
        <path class="load-icon-doc" d="M4080 3040 l0 -80 920 0 920 0 0 80 0 80 -920 0 -920 0 0 -80z"/>
        <path class="load-icon-doc" d="M4080 2490 l0 -80 360 0 360 0 0 80 0 80 -360 0 -360 0 0 -80z"/>
        <path class="load-icon-doc" d="M5010 2490 l0 -80 455 0 455 0 0 80 0 80 -455 0 -455 0 0 -80z"/>
        </g>
        </svg>
        <img class="prev-image" id="prev-image" src="" alt="Preview image">
        <br><span class="erro-msg" id="poster-erro"></span>
        <button id="upload-btn">
          <span class="mdi mdi-image-plus icon"></span>
          <span>Escolha uma imagem</span>
        </button>
      </div>
    </div>
  </aside>
  <div class="content-form">
    <div id="alert" class="alert" role="alert">
      <span id="alert-icon" class="mdi"></span>
      <span id="alert-text"></span>
    </div>
    <div class="title-container">
    <h1 class="title"><%= title %> </h1>
      
    </div>          
    <form id="titleForm" method="post" enctype="multipart/form-data">
      <input id="upload-input" type="file" name="poster" cept="image/*" hidden>
      <fieldset>
        <div class="field-container">
          <label for="title">Nome do <%= contentType %> </label>
          <input type="text" maxlength="50" name="title" id="title" requireed  />
          <span class="erro-msg" id="title-erro"></span>
        </div>
        <div class="field-container genre-content-type">
        <% if (contentType === 'autor') { %> 
          <div class="field-date-of-birth">
            <label for="date-of-birth">Data de nascimento</label><br>
            <input type="date" name="date_of_birth" id="date-of-birth" requireed >
            <br><span class="erro-msg" id="date-birth-erro"></span>
          </div>
          <div class="field-date-of-death">
            <label for="date-of-death">Data de falecimento</label><br>
            <input type="date" name="date_of_death" id="date-of-death" >
            <br><span class="erro-msg" id="date-death-erro"></span>
          </div>
        <% } else { %> 
          <div class="field-genre">
            <label for="genre">Gênero</label><br>
            <textarea id="genre" name="genre" rows="4" placeholder="genero1,genero2,..."></textarea>
            <br><span class="erro-msg" id="genre-erro"></span>
          </div>
          <div class="field-content-type">
            <label>Autores</label><br>
            <select name="author" id="author" multiple >
              <% authors.forEach(author => { %> 
              <option value="<%= author._id %>"><%= author.name %></option>
              <% }); %> 
            </select>
            <br><span class="erro-msg" id="author-erro"></span>
          </div>
        <% } %>
        </div>
        <div class="field-container">
          <label for="description">Descrição</label>
          <textarea id="description" name="description" rows="8" ></textarea>
          <span class="erro-msg" id="description-erro"></span>
        </div>
      </fieldset>
      <button id="subBtn" type="submit" class="btn-submit">
        <span id="loadSubIcon" class="mdi mdi-check loading"></span>
        <span id="btnSubText">Adicionar</span>
      </button>
    </form>
  </div>
</div>

<%# Script de controle assincrono %>
<script type="text/javascript" src="/javascripts/contentInsert.js"></script>