<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/favorites.css" />

<%- contentFor('main') %>
<div id="search-main-wrapper" class="main-wrapper">
  <div class="content">
    <div class="content-header">
      <span><%= totalCount %> resultados encontrados</span>
    </div>

    <div class="content-results-container">
      <% results.forEach((result) => { %>
        <div class="content-results">
          <div class="result-container">
            <div class="result-photo">
              <img
                alt="Capa <%= result.title %>"
                src="<%= result.poster_path || "/images/book.svg" %>"
                loading="lazy"
              />
            </div>
            <div class="result-content">
              <a href="<%= `/${result.type === 'printed' ? 'book' : 'ebook'}/${result._id}` %>"
                ><h3 class="mdi <%= `mdi-${result.type === 'printed' ? 'book-open-blank-variant' : 'tablet-cellphone'}` %>">
                  <%= result.title %>
                </h3>
              </a>
              <% if (result.authors) {%>
                <span> Autores:
                  <% result.authors.forEach((author, key) => { if (key > 0){  %>
                      <%= `• ${author.name}` %>
                  <% } else { %>
                    
                    <%= author.name %>
                  <% } }); %>
                </span>
                <span> Gênero:
                  <% result.genre.forEach((name, key) => { if (key > 0){  %>
                    <%= `, ${name}` %>
                  <% } else { %>
                    <%= name %>
                  <% } }); %>
                </span>
              <% } else { 
                const dateFormat = { day: "2-digit", month: "2-digit", year: "numeric" };
    
                let dateBirth = new Date(result.date_of_birth)
                .toLocaleDateString('pt-BR', dateFormat);
                dateBirth = `${dateBirth.split("-")[2]}-${dateBirth.split("-")[1]}-${dateBirth.split("-")[0]}`;
    
                let dateDeath = new Date(result.date_of_death)
                  .toLocaleDateString('pt-BR', dateFormat);              
                dateDeath = `${dateDeath.split("-")[2]}-${dateDeath.split("-")[1]}-${dateDeath.split("-")[0]}`;
    
                %>
                <span> ✶ <%= dateBirth %> <%= result.date_of_death && ` - † ${dateDeath}` %>  </span>
              <% } %>
              <p><%= result.summary %></p>
            </div>
          </div>
        </div>
      <% }); %>
    </div>

    <div class="content-pagination">
      <% for(var i=1; i <= totalPages; i++) { %> <% if(i == currentPage) {%>

      <a class="current" href="<%= `/user/favorites/${i}` %>">
        <%= i %>
      </a>
      <% } else { %>
      <a href="<%= `/user/favorites/${i}` %>">
        <%= i %>
      </a>
      <% } %> <% } %>
    </div>
  </div>
</div>