<%- contentFor('style') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/userProfile.css" />

<%- contentFor('main') %>
<div class="content">
  <aside>
    <div class="image-header"></div>
    <div class="image-container">
      <h3>Foto de Perfil</h3>
      <div class="user-image-container">
        <p>Adicione uma imagem (.png, .jpeg ou .gif).</p>
        <div class="user-image-wrapper">
          <img id="prev-image" class="prev-image <%= user.avatar_path ? "" : "hidden" %>" src="<%= user.avatar_path || "" %>">
          <span id="prev-icon" class="mdi mdi-account-circle prev-image <%= user.avatar_path ? "hidden" : "" %>"></span>
        </div>
        <span class="erro-msg " id="avatar-erro"></span>
        <button id="upload-btn" class="btn-submit">
          <span class="mdi mdi-image-plus"></span>
          <label>Escolha uma imagem</label>
        </button>
        <button id="reset-btn" class="btn-remove <%= user.avatar_path ? "" : "hidden" %>">
          <span class="mdi mdi-image-remove"></span>
          <label>Remover imagem</label>
        </button>
      </div>
    </div>
  </aside>
  <div class="content-form">
    <div id="alert" class="alert" role="alert">
      <span id="alert-icon" class="mdi"></span>
      <span id="alert-text"></span>
    </div>
    <div class="title-container">
      <h1 class="title"><%= title %> </h1>
    </div>      

    <form id="user-form" method="post" enctype="multipart/form-data">
      <input id="upload-input" type="file" name="avatar" cept="image/*" hidden>
      <input id="remove-img" type="hidden" name="remove_img" value="">
      <fieldset>
        <div class="field-container">
          <label for="name">Nome</label>
          <input type="text" maxlength="50" name="name" id="name" requireed 
          value="<%= user.name %>"/>
          <span class="erro-msg" id="name-erro"></span>
        </div>
        <div class="field-container">
          <label for="email">E-mail</label>
          <input type="email" maxlength="50" name="email" id="email" requireed
          value="<%= user.email %>"/>
          <span class="erro-msg" id="email-erro"></span>
        </div>
        <div class="field-container">
          <label for="password">Nova senha</label>
          <input type="password" maxlength="50" name="password" id="password" requireed />
          <span class="erro-msg" id="password-erro"></span>
        </div>
        <div class="field-container">
          <label for="password-confirmation">Repita a senha</label>
          <input type="password" maxlength="50" name="password_confirmation" id="password-confirmation" requireed />
          <span class="erro-msg" id="password-confirmation-erro"></span>
        </div>
      </fieldset>
      <button id="update-btn" type="submit" class="btn-submit">
        <span id="update-btn-icon" class="mdi mdi-check"></span>
        <label id="update-btn-text">Atualizar</label>
      </button>
    </form>
  </div>
</div>

<%# Script de controle assincrono %>
<script type="text/javascript" src="/javascripts/userProfile.js"></script>